@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

$blue: rgb(0, 123, 255);
$lightB:rgb(248, 249, 250);
$lightT:rgba(0, 0, 0, 0.338);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
body{
  background-color: $lightB;
}
p{
  font-size: 13px;
  color:$lightT;
}
h2{
  font-size: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  min-height: 50px;
  margin: auto;
  padding: 15px 0;

.sign-in-button {
  // font-size: 10px;
  padding:3px;
  background-color: $blue;
  color: white;
  border: 2px solid $blue;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;

  &:hover{
    background: transparent;
    color:$blue;
  }
}
}
  
main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.article-1{
  width: 100%;
  height: 200px;
  background: url(../content/bg-masthead.jpg) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    padding:40px;
    gap: 20px;
    width: 500px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:white;
  .signup-email{
    margin-left:-50px;
  }
  .signup-email input[type="email"]{
    width:250px;
    padding:3px;
  }
  .signup-button {
      width:80px;
      padding:3px;
      background-color: $blue;
      color: white;
      border: 2px solid $blue;
      border-radius: 2px;
      cursor: pointer;
      transition: 0.3s; 
  &:hover{
        background: transparent;
        border: 2px solid white;
        color: white;
  }   
  }
  }
}

.article-2{
  width: 100%;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;
.content {
  padding:40px;
  gap: 10px;
  width: 300px;
  display: flex;
  flex-direction:column;
}
}
#data{
  width: 100%;
  height: 600px;
  text-align: center;
  border: 5px solid violet;
.container{
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    border:5px solid green;
  .text{
    padding:30px;
    gap: 10px;
    width: 300px;
    width:50%;
    .image{
      position: relative;
      height: 100px;
      width: 100px;
  }
}
}
}

#people{
  width: 100%;
  height: 400px;
  text-align: center;
  padding:40px;
.container{
  width: 100%;
  // height: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;
}
.content {
  padding:30px;
  gap: 10px;
  width: 300px;
  display: flex;
  flex-direction:column;
  img{
    border-radius:100%;
    position: relative;
    height: 100px;
    width: 100px;
    margin-left:70px;
  }
}
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  min-height: 50px;
  margin: auto;
  padding: 30px;

  .links{
    text-decoration: none;
    line-height: 1.6;
    display: flex;
    gap:10px;
    flex-direction:row;
  }
    a{
      color: $blue;
      text-decoration:none;
    }
    span{
      color: black;
      padding-right: 5px;
    }
  .social{
    display:flex;
    gap:20px;
    float: right;
    text-align: center;
    cursor: pointer;
    i {
      color: $blue;
    }
  }
}